<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1 class="text-center">Developers Index</h1>
    <hr />
    <% @developers.each do |developer| %>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <section class="chef-info text-center">
            <%= gravatar_for developer, size: 240 %>
            <h3><strong><%= link_to developer.name, developer, class: "dev-name" %></strong></h3>
            <small><%= pluralize(developer.projects.count, "project") if developer.projects %></small>
          </section>
        </div>
      </div>
      <hr />
    <% end %>
    
  </div>
</div>

<div class="text-center">
  <strong><%= will_paginate %></strong>
</div>