<div class="row">
  <div class="col-md-2">
    <section class="developer-info center">
      <h4><%= gravatar_for(comment.developer, size: 60) %></h4>
    </section>
  </div>
  <div class="col-md-10">
    <p><%= comment.description %></p>
    <p>
      <span class="quiet">
        <small>[ <%= time_ago_in_words(comment.created_at) %> ago |
                            <%= link_to comment.developer.name, comment.developer %> ]</small>
      </span>
    </p>
  </div>
</div>
<hr />