<h1 class="text-center">GitChat</h1>

<div class="row chat-container">
  <div class="col-md-8 center-block">
    <div class="messages" id="messages">
      <%= render @messages %>
    </div>
  </div>
  <div class="message-container">
    
  </div>
</div>