<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <h1 class="text-center">About Gitview</h1><hr />
      <h4>
        Pop-up banh mi copper mug flexitarian lyft wayfarers try-hard whatever, 
        gluten-free tumblr chicharrones cornhole kinfolk tacos vegan. Blue 
        bottle post-ironic banh mi affogato shaman. Tbh tousled chillwave fixie. 
        Jean shorts woke enamel pin keffiyeh, hashtag pour-over blog before they 
        sold out kogi. Ethical blog four loko woke, taxidermy seitan distillery 
        enamel pin neutra pabst. Farm-to-table twee put a bird on it tattooed 
        sartorial etsy locavore selfies tote bag. Waistcoat selvage sriracha 
        chicharrones gochujang authentic kitsch fanny pack brooklyn synth blue 
        bottle. 8-bit dreamcatcher echo park shaman lo-fi mixtape, small batch 
        austin. Tumblr offal vaporware squid meditation biodiesel occupy banjo 
        unicorn lo-fi cold-pressed.
      </h4>
      
      <h4>
        Pop-up banh mi copper mug flexitarian lyft wayfarers try-hard whatever, 
        gluten-free tumblr chicharrones cornhole kinfolk tacos vegan. Blue 
        bottle post-ironic banh mi affogato shaman. Tbh tousled chillwave fixie. 
        Jean shorts woke enamel pin keffiyeh, hashtag pour-over blog before they 
        sold out kogi. Ethical blog four loko woke, taxidermy seitan distillery 
        enamel pin neutra pabst. Farm-to-table twee put a bird on it tattooed 
        sartorial etsy locavore selfies tote bag. Waistcoat selvage sriracha 
        chicharrones gochujang authentic kitsch fanny pack brooklyn synth blue 
        bottle. 8-bit dreamcatcher echo park shaman lo-fi mixtape, small batch 
        austin. Tumblr offal vaporware squid meditation biodiesel occupy banjo 
        unicorn lo-fi cold-pressed.
      </h4>
      
      <h4>
        Pop-up banh mi copper mug flexitarian lyft wayfarers try-hard whatever, 
        gluten-free tumblr chicharrones cornhole kinfolk tacos vegan. Blue 
        bottle post-ironic banh mi affogato shaman. Tbh tousled chillwave fixie. 
        Jean shorts woke enamel pin keffiyeh, hashtag pour-over blog before they 
        sold out kogi. Ethical blog four loko woke, taxidermy seitan distillery 
        enamel pin neutra pabst. Farm-to-table twee put a bird on it tattooed 
        sartorial etsy locavore selfies tote bag. Waistcoat selvage sriracha 
        chicharrones gochujang authentic kitsch fanny pack brooklyn synth blue 
        bottle. 8-bit dreamcatcher echo park shaman lo-fi mixtape, small batch 
        austin. Tumblr offal vaporware squid meditation biodiesel occupy banjo 
        unicorn lo-fi cold-pressed.
      </h4>
  </div>
</div>